{{- if lookPath "tailscale" -}}
{{- $status := output "tailscale" "status" "--json" | fromJson -}}
{{ with $status.Self.TailscaleIPs }}
external_ip = {{ index . 0 }}
{{ end }}
{{- end }}
locale = zh
wan_encryption_mode = 0
