{{- $dpi := output "bash" "-lc" "dpi=; if command -v hyprctl >/dev/null 2>&1; then dpi=$(hyprctl monitors 2>/dev/null | awk 'BEGIN { first_height=0; height=0; printed=0 } /^[[:space:]]*[0-9]+x[0-9]+@/ { split($1, size, \"x\"); split(size[2], refresh, \"@\"); height=refresh[1]; if (!first_height) first_height=height } /^[[:space:]]*focused:/ { if ($2 ~ /^(yes|true|1)$/ && height > 0) { printf \"%.0f\", height / 8; printed=1; exit } } END { if (!printed && first_height > 0) printf \"%.0f\", first_height / 8 }'); fi; if [[ -z \"$dpi\" ]] && command -v xrandr >/dev/null 2>&1; then dpi=$(xrandr --query 2>/dev/null | awk '/ connected/ { for (i = 1; i <= NF; i++) { if ($i ~ /^[0-9]+x[0-9]+\\+/) { split($i, res, \"x\"); split(res[2], height, \"+\"); if (height[1] > 0) { printf \"%.0f\", height[1] / 8; exit } } } }'); fi; printf '%s' \"${dpi:-96}\"" -}}
Xft.dpi: {{ $dpi }}
