[ids]

*
a8a5:2255
-2333:6666
-057e:2007
-beef:dead

[main]

# Maps capslock to escape when pressed and control when held.
capslock = overload(virtualC,esc)

# Remaps the escape key to capslock
esc = `
# leftshift=overloadt(shift,C-space,150)
leftmeta=overload(virtualM,C-space)
rightmeta=overload(virtualM,C-space)
mouse1=overload(virtualMa,mouse1)
mouse2=overload(virtualMb,mouse2)
scrolllock=overload(virtualMc,scrolllock)
[virtualMa]
leftmouse=M-leftmouse
rightmouse=M-rightmouse
middlemouse=M-q
[virtualMb]

[virtualMc]

[virtualMl]

[virtualMr]

[virtualMm]

{{ $letters := splitList "" "abcdefghijklmnopqrstuvwxyz1234567890`-=[];'\\,./" -}}
{{- $extraLetters := list "mouse1" "mouse2" "mouseback" "mouseforward" "leftmouse" "rightmouse" "middlemouse" "backspace" "tab" "enter" "space" "capslock" "f1" "f2" "f3" "f4" "f5" "f6" "f7" "f8" "f9" "f10" "f11" "f12" "left" "right" "up" "down" -}}
{{- $letters = concat $letters $extraLetters -}}
{{- $mods := list "C" "S" "A" "M" -}}
{{- range $mod := $mods -}}
[virtual{{$mod}}]
{{ range $letters -}}
{{.}}={{$mod}}-{{.}}
{{ end -}}
{{- end -}}

