{{- $hasBattery := gt (len (glob "/sys/class/power_supply/BAT*")) 0 -}}
{
  "layer": "top",
  "include": [
    "~/.config/waybar/modules/*.jsonc",
    "~/.config/waybar/modules/custom/*.jsonc",
    "~/.config/waybar/modules/hyprland/*.jsonc",
    "~/.config/waybar/modules/extras/*.jsonc"
  ],

  "modules-left": [
    "custom/left_div_1",
    "hyprland/workspaces",
    "custom/right_div_1",
    "hyprland/window"
  ],
    "modules-center": [
    "hyprland/windowcount",
    "custom/left_div_2",
    "group/system_monitor",
    "custom/left_div_3",
    "custom/disk",
    "custom/left_inv_1",
    "custom/left_div_5",
    "custom/distro",
    "custom/right_div_2",
    "custom/right_inv_1",
    "idle_inhibitor",
    "custom/right_div_3",
    "network",
    "custom/tailscale",
    "bluetooth",
    "custom/system_update",
    "custom/right_div_5"
  ],
  "modules-right": [
    "mpris",
    "custom/left_div_6",
    "group/pulseaudio",
    "custom/left_div_7",
    "custom/backlight",
{{- if not $hasBattery }}
    "custom/left_div_8",
{{- end }}
{{- if $hasBattery }}
    "custom/left_div_8",
    "battery",
    "custom/left_inv_2",
{{- end }}
    "tray",
    "custom/left_div_9",
    "group/clock"
  ],

  "height": 0,
  "width": 0,
  "margin": 0,
  "spacing": 0,
  "mode": "dock",
  "reload_style_on_change": true
}
