{{- $heightPercent := 3.0 -}}
{{- $monitors := output (joinPath .chezmoi.sourceDir "ignore/bin/hyprctl-safe") "monitors" "-j" "[]" | fromJson -}}
{{- $monitor := dict "height" 1000 "scale" 1 -}}
{{- if gt (len $monitors) 0 -}}
{{- $monitor = index $monitors 0 -}}
{{- range $m := $monitors -}}
{{- if $m.focused -}}
{{- $monitor = $m -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- $logicalHeight := divf $monitor.height (default 1 $monitor.scale) -}}
{{- $height := max 1 (int (printf "%.0f" (divf (mulf $logicalHeight $heightPercent) 100))) -}}
{
  "height": {{ $height }}
}
