@import "theme.css";
@import "styles/modules-left.css";
@import "styles/modules-center.css";
@import "styles/modules-right.css";

* {
	font-family: "0xProto Nerd Font";
	font-weight: bold;
	font-size: 16px;
	color: @main-fg;
}

/* main outline */

window#waybar {
	background-color: @outline;
}

/* main background */

window#waybar > box {
	margin: 3px;
	background-color: @main-bg;
}

/* hoverables */

#idle_inhibitor:hover,
#clock.date:hover,
#custom-disk:hover,
#custom-gpu:hover,
#network:hover,
#custom-tailscale:hover,
#bluetooth:hover,
#custom-system_update:hover,
#mpris:hover,
#pulseaudio:hover {
	color: @hover-fg;
}

/* states */

.deactivated,
.paused,
#pulseaudio.output.muted,
#pulseaudio.input.source-muted {
	color: @hover-fg;
}
.warning { color: @warning; }
.critical { color: @critical; }
.charging { color: @charging; }

/* dividers */

#custom-left_div_1,
#custom-left_div_2,
#custom-left_div_3,
#custom-left_div_5,
#custom-left_div_6,
#custom-left_div_7,
#custom-left_div_8,
#custom-left_div_9,
#custom-left_inv_2,
#custom-right_div_1,
#custom-right_div_2,
#custom-right_div_3,
#custom-right_div_5 {
	font-size: 27px;
	margin: 0 -1px;
	min-height: 0;
	padding: 0;
	background-color: transparent;
}
#custom-left_div_1 label,
#custom-left_div_2 label,
#custom-left_div_3 label,
#custom-left_div_5 label,
#custom-left_div_6 label,
#custom-left_div_7 label,
#custom-left_div_8 label,
#custom-left_div_9 label,
#custom-left_inv_2 label,
#custom-right_div_1 label,
#custom-right_div_2 label,
#custom-right_div_3 label,
#custom-right_div_5 label {
	font-size: 27px;
	margin: 0;
	padding: 0;
}
#custom-left_inv_2,
#custom-left_inv_2 label {
	font-size: 35px;
	margin: -4px -1px;
}

/* buttons */

button {
	border-radius: 12px;
	padding: 0 8px;
}
button:hover {
	background-color: @hover-bg;
	color: @hover-fg;
}

/* tooltips */

tooltip {
	border: 2px solid @main-br;
	border-radius: 8px;
	background-color: @main-bg;
}
tooltip label {
	margin: 2px 4px;
	font-family: "Maple Mono", "Symbols Nerd Font Mono", monospace;
	font-weight: normal;
}
tooltip decoration {
	border: none;
	background-color: transparent;
}
#pulseaudio-slider slider {
	min-height: 0px;
	min-width: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}
#pulseaudio-slider trough {
	min-height: 5px;
	min-width: 80px;
	border-radius: 5px;
	background: black;
}
#pulseaudio-slider highlight {
	min-width: 0px;
	border-radius: 5px;
	background: green;
}
