(() => {
{{ includeTemplate "surfingkeys/common.js" . }}

{{ includeTemplate "surfingkeys/scripts/chatgpt/input.js" . }}

{{ includeTemplate "surfingkeys/scripts/github/search.js" . }}

{{ includeTemplate "surfingkeys/scripts/bilibili/search.js" . }}

{{ includeTemplate "surfingkeys/scripts/bilibili/mpv.js" . }}

skRunCurrentScripts();
})();
