{{- $routerIp := "unknownRouterIp" -}}
{{- if eq .chezmoi.os "linux" -}}
{{- $routerIp = "linuxRouterIP" -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{ $routerIp = "darwinRouterIP" -}}
{{- end -}}


Host server
  Hostname {{secret "serverIP" "0.0.0.0"}}
  Port 22
  User root

Match host dell exec {{includeTemplate $routerIp "24:5a:5f:78:33:fa" }}
  Hostname 192.168.1.66
  Port 22
  ProxyJump none
Match host dell exec "tailscale ping --timeout=500ms --c 2 100.65.71.79"
  Hostname 100.65.71.79
  Port 22
  ProxyJump none

Host dell
  Hostname localhost
  Port 520
  User dirichy
  ProxyJump server

Host dell_s
  Hostname localhost
  Port 520
  User dirichy
  ProxyJump server

Match host yoga exec {{includeTemplate $routerIp "a4:ba:70:8:bc:3d" }}
  Hostname 192.168.31.99
  Port 22
  ProxyJump none
Match host yoga exec "tailscale ping --timeout=500ms --c 2 100.88.19.23"
  Hostname 100.88.19.23 
  Port 22
  ProxyJump none
Host yoga
  Hostname localhost
  Port 1314
  User eva
  ProxyJump server

Host yoga_s
  Hostname localhost
  Port 1314
  User eva
  ProxyJump server

Match host wyy exec {{includeTemplate $routerIp "a4:ba:70:8:bc:3d" }}
  Hostname 192.168.31.88
  Port 22
  ProxyJump none
Match host wyy exec "tailscale ping --timeout=500ms --c 2 100.84.166.35"
  Hostname 100.84.166.35
  Port 22
  ProxyJump none
Host wyy
  Hostname 192.168.31.88
  Port 22
  User eva
  ProxyJump yoga_s

Match host byl exec {{includeTemplate $routerIp "24:5a:5f:78:33:fa" }}
  Hostname 192.168.1.88
  Port 22
  ProxyJump none
Match host byl exec "tailscale ping --timeout=500ms --c 2 100.115.104.17"
  Hostname 100.115.104.17
  Port 22
  ProxyJump none
Host byl
  Hostname 192.168.1.88
  Port 22
  User dirichy
  ProxyJump dell_s
