#!/bin/zsh
# .zshenv - Zsh environment file, loaded always.
# NOTE: .zshenv needs to live at ~/.zshenv, not in $ZDOTDIR!
# Set ZDOTDIR if you want to re-home Zsh.
export ZDOTDIR=${ZDOTDIR:-$HOME/.config/zsh}
export XDG_CONFIG_HOME=${XDG_CONFIG_HOME:-$HOME/.config}
export XDG_DATA_HOME=${XDG_DATA_HOME:-$HOME/.local/share}
export XDG_CACHE_HOME=${XDG_CACHE_HOME:-$HOME/.cache}
export ZDOTDIR=${ZDOTDIR:-$XDG_CONFIG_HOME/zsh}
{{- $brewPrefix := "/usr/local" -}}
{{- if eq .chezmoi.arch "arm64" -}}
{{- $brewPrefix = "/opt/homebrew" -}}
{{- end -}}
{{- if eq .chezmoi.os "darwin"}}
export C_INCLUDE_PATH="{{$brewPrefix}}/include:$C_INCLUDE_PATH"
export LIBRARY_PATH="{{$brewPrefix}}/lib:$LIBRARY_PATH"
export LD_LIBRARY_PATH="{{$brewPrefix}}/lib:$LD_LIBRARY_PATH"
{{- end}}


# Ensure path arrays do not contain duplicates.
typeset -gU path fpath

# Set the list of directories that zsh searches for commands.
path=(
    $HOME/{,s}bin(N)
    $HOME/.local/{,s}bin(N)
    /opt/{homebrew,local}/{,s}bin(N)
    /usr/local/{,s}bin(N)
    $path
)
export EDITOR=nvim
export https_proxy=http://127.0.0.1:7890 http_proxy=http://127.0.0.1:7890 #all_proxy=socks5://127.0.0.1:7890
{{- if eq .chezmoi.os "darwin"}}
path=({{$brewPrefix}}/bin /Users/Shared/opt/bin $path $HOME/Library/Python/3.9/bin)
{{- end}}
export PATH
