/* window count */

#windowcount {
	margin-right: 9px;
}
#windowcount label {
	color: @hover-fg;
}

/* system monitor */

#custom-left_div_2,
#custom-left_div_2 label {
	color: @cpu;
}
#system_monitor,
#cpu,
#memory,
#temperature {
	background-color: @cpu;
}
#cpu {
	background-color: @cpu;
}
#custom-left_div_3,
#custom-left_div_3 label {
	background-color: @cpu;
	color: @memory;
}
#custom-disk {
	background-color: @memory;
	padding: 0 5px;
}

/* distro icon */

#custom-left_div_5,
#custom-left_div_5 label,
#custom-right_div_2,
#custom-right_div_2 label {
	color: @accent;
}
#custom-left_div_5,
#custom-left_div_5 label {
	background-color: @memory;
}
#custom-right_div_2,
#custom-right_div_2 label {
	background-color: @time;
}
#custom-distro {
	padding: 0 8px 0 4px;
	font-size: 23px;
	background-color: @accent;
	color: @main-bg;
}
#custom-distro label,
#custom-distro:hover,
#custom-distro:hover label {
	background-color: @accent;
	color: @main-bg;
}

/* idle inhibitor */

#idle_inhibitor {
	background-color: @time;
}
#custom-right_div_3,
#custom-right_div_3 label {
	color: @time;
}

/* quick settings */

#network {
	background-color: @tray;
	padding: 0 5px 0 3px;
}
#custom-tailscale {
	background-color: @tray;
	padding: 0 4px;
}
#custom-tailscale.connected {
	color: @teal;
}
#custom-tailscale.disconnected,
#custom-tailscale.disabled {
	color: @hover-fg;
}
#bluetooth {
	background-color: @tray;
	padding: 0 4px;
}
#custom-system_update {
	background-color: @tray;
	padding: 0 6px 0 2px;
}
#custom-right_div_5,
#custom-right_div_5 label {
	color: @tray;
}
