{{- $hasBattery := gt (len (glob "/sys/class/power_supply/BAT*")) 0 -}}
/* media info */

#mpris {
	padding: 0 9px;
	font-weight: normal;
}

/* volume */

#custom-left_div_6,
#custom-left_div_6 label {
	color: @volume;
}
#pulseaudio,
#pulseaudio-slider {
	background-color: @volume;
}

/* brightness */

#custom-left_div_7,
#custom-left_div_7 label {
	background-color: @volume;
	color: @backlight;
}
#custom-backlight {
	background-color: @backlight;
}
#tray {
	background-color: @tray;
}

{{- if $hasBattery }}
/* battery */

#custom-left_div_8,
#custom-left_div_8 label {
	background-color: @backlight;
	color: @battery;
}
#battery {
	background-color: @battery;
}
#custom-left_inv_2,
#custom-left_inv_2 label {
	color: @battery;
}
#custom-left_div_9,
#custom-left_div_9 label {
	background-color: @tray;
	color: @battery;
}
#clock {
	background-color: @battery;
}
#clock.time {
	background-color: @battery;
	padding: 0 6px 0 4px;
}
#clock.date {
	background-color: @battery;
	padding: 0 6px;
	color: @hover-fg;
}
{{- else }}

/* tray & clock */

#custom-left_div_8,
#custom-left_div_8 label {
	background-color: @backlight;
	color: @tray;
}
#custom-left_div_9,
#custom-left_div_9 label {
	background-color: @tray;
	color: @backlight;
}
#clock {
	background-color: @backlight;
}
#clock.time {
	background-color: @backlight;
	padding: 0 6px 0 4px;
}
#clock.date {
	background-color: @backlight;
	padding: 0 6px;
	color: @hover-fg;
}
{{- end }}
